section#Projector.Threejs.page
	.background
	.content.stacked
		h1 Projector Page
		.three-holder
			include /TASK/pug/static/ui/_Transport-bar
		.scrollable
			.scenes
			select.cameraPosition
				option(value='-1') Left
				option(value='0', selected=true) Center
				option(value='1') Right
