.transport-bar
    .play-pause
        .bg
        .content
            button.play
            button.pause
    .scrubber
        .bg
        .content
            .tray
            .load-progress
            .play-progress
            .playhead
            .preview
    .volume
        .bg
        .content
            .mute
                .unmuted
                .muted
            .slider
                .tray
                .level-indicator
                .handle
    .currenttime
    .duration
        .duration
        .remaining
    .fullscreen
        .bg
        .content
            button.enter-fullscreen
            button.exit-fullscreen
    .options
        .language
        .cc
        .quality
