.transport-bar
	.play-pause
		.background
		.content
			button.play Play
			button.stop Stop
	.scrubber
		.background
		.content
			.tray
			.load-progress
			.play-progress
			.playhead
			.preview
	.volume
		.background
		.content
			.mute
				.unmuted
				.muted
			.slider
				.tray
				.level-indicator
				.handle
	.currenttime
	.duration
		.duration
		.remaining
	.fullscreen
		.background
		.content
			button.enter-fullscreen
			button.exit-fullscreen
	.options
		.language
		.cc
		.quality
