html(class=lang)
	head
		include _head
		style
			| html {
			| 	background-color: #000;
			| }
			| body {
			//- | 	display: none;
			| 	background-color: #000;
			| }
	body
		a#saver
		#app-page
			include ui/_site-loader
			include ui/_main-menu
			include ui/_header
			include ui/_footer
			#pages
				// imports
				include pages/_Home-Page
				include pages/_Control-Panel-Page
				include pages/_Master-Page
				include ../../TASK/pug/static/pages/_Threejs-Page

				.cover.vignette

		script(src="index.js")
